@import 'variables';
@import 'reset';

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: $ff-lexend;
  background-color: $clr-bg-hs-btn;
  margin: 2rem 0;
}

.container {
  max-width: 18rem;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;

  article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
    padding: 2rem;

    img {
      width: 60px;
    }

    h1 {
      text-transform: uppercase;
      font-family: $ff-big;
      font-size: 2rem;
      font-weight: 700;
      color: $clr-bg-hs-btn;
    }

    p {
      font-size: 15px;
      line-height: 1.5;
      color: $clr-paragraphs;
    }

    button {
      border: none;
      display: inline-block;
      background-color: $clr-bg-hs-btn;
      padding: 0.8rem 1rem;
      border-radius: 100px;
      width: 60%;
      font-size: 0.8rem;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 0 2px #fff inset;
        background-color: inherit;
      }
    }

    &:nth-child(1) {
      background-color: $clr-bright-orange;

      button {
        color: $clr-bright-orange;
        &:hover {
          color: #fff;
        }
      }
    }

    &:nth-child(2) {
      background-color: $clr-dark-cyan;

      button {
        color: $clr-dark-cyan;
        &:hover {
          color: #fff;
        }
      }
    }

    &:nth-child(3) {
      background-color: $clr-very-dark-cyan;
      button {
        color: $clr-very-dark-cyan;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@media (min-width: 50rem) {
  body {
    margin: 0;
  }

  .container {
    padding: 0 1rem;
    grid-template-columns: repeat(3, 1fr);
    min-width: 51rem;

    article {
      &:nth-child(1) {
        border-radius: 8px 0 0 8px;
      }

      &:nth-child(3) {
        border-radius: 0 8px 8px 0;
      }

      p {
        margin-bottom: 3rem;
        font-size: 0.85rem;
      }
    }
  }
}
